# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IDE
.idea/
*.iml
.vscode/
*.classpath
.project
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Entorno local (nunca versionar secretos)
.env
*.log

# Spring Boot
spring-boot-devtools.properties
